<a href="https://colab.research.google.com/github/davidnho/PythonReview/blob/master/PYTHON_REVIEW_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON REVIEW 2024

## LINKS

[Python for Beginners - Learn Python in 1 Hour](https://youtu.be/kqtD5dpn9C8) </br>
[Python Tutorial - Python Full Course for Beginners](https://youtu.be/_uQrJ0TkZlc) </br>
[Python Quick Guide](https://colab.research.google.com/drive/1UdMtY5tf6ohNMO2VhuFEL2M8wBBne5FW?usp=sharing) </br>

## BASIC

### HELLO WORLD

In [ ]:
# HELLO WORLD
# Python for Beginners - Learn Python in 1 Hour
print("Hello world")

In [ ]:
# VARIABLES
age = 20
price = 19.95
first_name = 'Noel'   # firstname vs first_name - best practice : separate with underscore
is_online = False # boolean , case-sensiitive

print(age)
print(price)
print(first_name)
print(is_online)

### DATA TYPES

In [ ]:
# NUMERICAL TYPES
#

# Integer
a = 10
print(a)


# Complex data type
b = 10 + 7j
print(b)

# Float
c = 10.67
print(c)

# Conversion
d = float(a)
print(d)

### INPUT

In [ ]:
# INPUT
name = input("What is your name? ")
print("Hello " + name)

### TYPE CONVERSION

In [ ]:
# TYPE CONVERSION
birth_year = input("What is your birth year? \n")
age = 2023 - int(birth_year)
print(age)


# exerice : simple calc
first_number = input("First number: ")
second_number = input("Second number: ")
my_sum = float(first_number) + float(second_number)
print("Sum: "  + str(my_sum))

### OBJECT AND METHODS

In [ ]:
# OBJECTS AND METHODS
course = 'Python in one hour' # object is created
course_in_uppercase = course.upper()
print(course_in_uppercase)
print(course.find('y'))
print(course.replace('one','1'))
print('Python' in course)

### ARITHMETIC

In [ ]:
# ARITHMETIC
print(10 / 3)
print(10 // 3)
# augmented assignment operator
x = 10
x += 3 # similar to x = x + 3
print(x)

### PRECENCE

In [ ]:
# PRECEDENCE
print(10+3*2)
# can be overriden using pharentheses

### COMPARISON

In [ ]:
# COMPARISON
print(3 == 2)
print(3 > 2)

### LOGICAL OPERATORS

In [ ]:
# LOGICAL OPERATORS (and,or,not)
print(3 > 2 and 1 < 4)
print(3 < 2 or 1 < 4)
print(not 3 > 2)
# True
# True
# False

### IF STATEMENT

In [ ]:
# IF STATEMENTS
temp = 4

if temp > 30:
    print("It's hot today")
    print("Drink a lot of water")
elif temp > 20:
    print("It's a nice day!")
elif temp > 10:
    print("It's a bit cold")
else:
    print ("It's cold")
print("Done")

# review the exerice

### LOOPS

In [ ]:
# LOOPS
i = 1
while i <=1_000: # the underscore makes the number more readable
    print(i)
    i = i + 1


j = 1
while j <=10 : # the underscore makes the number more readable
    print(j * '*')
    j = j+ 1

### LISTS

In [ ]:
# LISTS

names = ['Noel','Jake','Eric','Josh']
print(names)
print(names[0])
print(names[-1])
names[2] = 'Erich'
print(names)
print(names[0:3]) #first 3  names


# LIST METHODS
numbers = [1,2,3,4,5,6]
numbers.append(7)
print(numbers)
numbers.insert(0,-1)
print(numbers) # insert number at the beggining
numbers.remove(3)
print(numbers)
numbers.clear()
print(numbers)
print(10 in numbers)
print(len(numbers))

### FOR LOOPS

In [ ]:
# FOR LOOPS

# for loop
numbers = [1,2,3,4,5]
for item in numbers:
    print(item)

# while loop
i = 0
while i < len(numbers):
    print(numbers[i])
    i = i + 1

### RANGES

In [ ]:
# RANGE
numbers = range(5)
print(numbers)

for number in numbers:
    print(number)

numbers = range(5,10)
print(numbers)

for number in numbers:
    print(number)

numbers = range(5,10,2) #using step (2)
print(numbers)

for number in numbers:
    print(number)

for number in range(5):  #shorter method
    print(number)

### TUPLES

In [ ]:
# TUPLES (immuutable objects)
numbers = (1,2,3)
numbers[0] = 3 #'tuple' object does not support item assignment

## ADVANCED

### FUNCTIONS

In [ ]:
# define the function
def printme(str):
    "this prints the passed string"
    print (str)

# call the function
printme("Hello Noel")
printme("Hello world")

### THE ANONYMOUS FUNCTIONS (LAMBDA)

In [ ]:
# These functions are called anonymous because they are not declared in the standard manner by using the def keyword.
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2;

# Now you can call sum as a function
print ( "Value of total : ", sum( 10, 20 ) )
print ( "Value of total : ", sum( 20, 20 ) )

### EXCEPTIONS

In [ ]:
#!/usr/bin/python3

try:
   fh = open("testfile", "w")
   fh.write("This is my test file for exception handling!!")
except IOError:
   print ("Error: can\'t find file or read data")
else:
   print ("Written content in the file successfully")
   fh.close()

In [ ]:
#!/usr/bin/python3

try:
   fh = open("testfile", "r")
   fh.write("This is my test file for exception handling!!")
except IOError:
   print ("Error: can\'t find file or read data")
else:
   print ("Written content in the file successfully")

In [ ]:
class Networkerror(RuntimeError):
   def __init__(self, arg):
      self.args = arg

try:
   raise Networkerror("Bad hostname")
except Networkerror,e:
   print (e.args)

### MODULES

#### The import Statement

In [ ]:
# **** will only run outside a notebook ***
# 1. create a file named hell0_module.py with the following content:
def greeting(name):
  print("Hello, " + name)
# 2. On the same folder, create a file with the ff content:

import hello_module

hello_module.greeting("Noel David")

#### The from...import Statement

In [ ]:
# GET MORE EXAMPLES

#### Namespace and Scoping

In [ ]:
Money = 2000
def AddMoney():
   # Uncomment the following line to fix the code:
   global Money # withoout this, you will the UnboundLocalError
   Money = Money + 1

print (Money)
AddMoney()
print (Money)

In [ ]:
### The dir() function

In [ ]:
# Import built-in module math
import math

content = dir(math)
print (content)

#### The globals() and locals() Functions

In [ ]:
# READ MORE ....

#### The reload() Function

In [ ]:
reload (support)
support.print_func("Noel")
support.print_func("Yen")

#### Packages in Python

In [ ]:
# READ MORE ....

### DATE AND TIME

#### Tick

In [ ]:
import time
tick = time.time()
print(tick)

#### Getting current time

In [ ]:

localtime = time.localtime(time.time())
print (localtime)

#### Getting formatted time

In [ ]:
import time;
localtime = time.asctime(time.localtime(time.time()))
print (localtime)

#### Getting calendar for a month

In [ ]:
import calendar

cal = calendar.month(2023, 1)
print ("Here is the calendar:")
print ( cal )

#### The time Module

In [ ]:
# READ MORE ABOUT THIS

In [ ]:
print (time.clock())

#### The calendar Module

In [ ]:
print ( calendar.firstweekday())

### LISTS

#### List Examples

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];

print(list2)

#### Accessing Values in Lists

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print ("list1[0]: ", list1[0])

print ("list2[1:5]: ", list2[1:5])

#### Updating Lists

In [ ]:
list = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ")
print (list[2])
list[2] = 2001
print ("New value available at index 2 : ")
print (list[2])

#### Delete List Elements

In [ ]:
list1 = ['physics','chemistry',1997,2000]
print (list1)
del list1[2]
print (list1)

#### Basic List Operations

In [ ]:
print (len ([1,2,3]))
print ( [1,2,3] + [3,4,5] )
print ( ['Boom '] * 3 )
print ( 3 in [1,2,3 ])
for x in [1,2,3]: print ( x )

#### Indexing, Slicing, and Matrixes

In [ ]:
L = ['spam','Spam','SPAM']

print(L[0:])
print ( L[2] )
print ( L[-2] )
print ( L[1:])

In [ ]:
L = [1,2,3,4,5,6,7]

print([L])
print(L[0:-1])
print(L[0:-1]) #prints all except the last one
print(L[0:-2]) #prints all except the last two
print(L[1:-2]) #prints starting from the 2nd item excluding the last 2

#### Built-in List Functions & Methods

In [ ]:
# # cmp
# list1, list2 = [123, 'xyz'], [456, 'abc']
# print ( cmp(list1, list2))
# print ( cmp(list2, list1))
# list3 = list2 + [786];
# print ( cmp(list2, list3) )
# # please review cmp

# len
list1, list2 = [123,'xyz','zara'],[456,'abc']
print (len(list1))
print (len(list2))

# max
list1, list2 = [123, 'xyz', 'zara', 'abc'], [456, 700, 200]
# print ( "Max value element : ", max(list1) ) # - this has error
print ( "Max value element : ", max(list2) )

# # list  - converts a tuple to list - with eror , pls review
# aTuple = (123, 'xyz', 'zara', 'abc')
# str = list(aTuple)
# print ("List elements : ", str)

# append
aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

# count
aList = [123, 'xyz', 'zara', 'abc', 123];
print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

# reverse
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.reverse();
print ("List : ", aList)

# MORE ....

### DICTIONARIES

In [ ]:
spam = {'color': 'red', 'age': 42}

for v in spam.values():
    print(v)

for k in spam.keys():
    print(k)

for i in spam.items():
    print(i)

In [ ]:
birthdays = {'Alice': 'Apr 1', 'Bob': 'Dec 12', 'Carol': 'Mar 4'}

while True:
    print("Enter a name (blank to quit)")
    name = input()
    if name == '':
        break

    if name in birthdays:
        print(birthdays[name] + ' is the birthday of ' + name)
    else:
        print('I do not have birthday information for ' + name)
        print('What is his/her birthday?')
        bday = input()
        birthdays[name] = bday
        print('Birthday database updated')

print(birthdays)

In [ ]:
# LIST LIKE DICTIONARIES

spam = {'color': 'red', 'age': 42}

print(list(spam.keys()))
print(list(spam.values()))
print(list(spam.items()))

In [ ]:
# MULTIPLE ASSIGNMENT
spam = {'color': 'red', 'age': 42}
for k, v in spam.items():
        print('Key: ' + k + ' Value: ' + str(v))

In [ ]:
# CHECKING IF ITEM EXISTS

print('color' in spam.values())
print('color' in spam.keys())

In [ ]:
# THE GET() METHOD
picnicItems = {'apples':10,'sandwiches': 5}
print("I am going to bring " + str(picnicItems.get('apples',0)) + ' apples')
print("I am going to bring " + str(picnicItems.get('bananas',0)) + ' bananas')

In [ ]:
# The setdefault() Method
# *** please review this more

msg = "hello world"
count = {}
for char in msg:
    count.setdefault(char,0)
    count[char] = count[char] +1

print(count)

In [ ]:
# The setdefault() Method
# characterCount.py:


message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}

for character in message:
    count.setdefault(character, 0)
    count[character] = count[character] + 1

print(count)

In [ ]:
# Pretty Printing


import pprint
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}

for character in message:
    count.setdefault(character, 0)
    count[character] = count[character] + 1

pprint.pprint(count)
# print(pprint.pformat(count))

### OOP

#### Classes

In [ ]:
# CLASSES


class myClass():
    def method1(self):
        print("myClass method1")

    def method2(self, someString):
        print("myClass method2: " + someString)


class anotherClass(myClass):
    def method2(self):
        print("anotherClass method2")

    def method1(self):
        myClass.method1(self)
        print("anotherClass method1")


def main():
    c = myClass()
    c.method1()
    c.method2("This is a string")
    c2 = anotherClass()
    c2.method1()


if __name__ == "__main__":
    main()

## DATA SCIENCE
https://www.analyticsvidhya.com/blog/2016/01/complete-tutorial-learn-data-science-python-scratch-2/

In [ ]:
2+3

In [ ]:
data = {'Noel','Gail'}
print (data)

In [ ]:
for d in data:
    print (d)

In [ ]:
print ("Hello me")

In [ ]:
#lists
squares_list = [1,2,4,9,16,25]

print(squares_list[-1])
print(squares_list[1])
print(squares_list[:])
print(squares_list[2:])
print(squares_list[1:2])
print(squares_list[2:5])

# manipulating lists
squares_list[0] = 1.0
print(squares_list[:])
# squares_list

### MATPLOTLIB

#### Basic Plot with Labels and Title

In [ ]:
import matplotlib.pyplot as plt

year = [1990,2000,2010] #x axis

pop = [100,200,300] #y axis

plt.plot(year,pop)

# add title
plt.title('Population')

# add labels
plt.xlabel('Year')
plt.ylabel('Population')

plt.show()

#### Styling

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.style as style

style.use ('ggplot')

x = [5,8,10]
y = [12,16,6]

x2 = [6,9,11]
y2 = [6,15,7]

plt.plot(x,y,'g',label='LineOne',linewidth=5) # LineOne with green color and width of 5
plt.plot(x2,y2,'c',label='LineOne',linewidth=5) # LineOne with green color and width of 5

plt.title('Info')

plt.xlabel('x axis')
plt.ylabel('y axis')

plt.grid(True,color='K')
plt.legend()

plt.show()

#### Bar Graphs

In [ ]:
from matplotlib import pyplot as plt

plt.bar([1,3,5,7,9],[5,2,7,8,2],label="Example One",color='c')
plt.bar([2,4,6,8,10],[8,6,2,5,6],label="Example Two",color='g')

plt.legend()

plt.xlabel('bar number')
plt.ylabel('bar height')

plt.title('Info')

plt.show()

# *** review more of bar graphs

#### Histogram

In [ ]:
# Bar graph is for categorical vars
# Histogram is for quantitative vars

population_ages = [22,55,62,45,21,22]
bins = [0,10,20,30,40,50]

plt.hist(population_ages,bins,histtype='bar',rwidth=0.8)

plt.xlabel('X axis')
plt.ylabel('Y axis')

plt.title('Histogram')

plt.legend()

plt.show()

In [ ]:
## REVIEW OTHER GRAPHS , WORKING WITH MULTIPLE PLOTS

### NUMPY

Source - https://youtu.be/8JfDAm9y_7s

#### The BASICS

In [ ]:
import numpy as np
import time
import sys

SIZE = 3000000

L1 = range(SIZE)
L2 = range(SIZE)

A1 = np.arange(SIZE)
A2 = np.arange(SIZE)

start = time.time()

result = [(x,y) for x,y in zip(L1,L2)]

print((time.time()-start)*1000)

start = time.time()

result = A1 + A2

print((time.time()-start)*1000)

#### TESTING NUMPY SPEED

In [ ]:
import numpy as np
import time
import sys

SIZE = 1000000

L1 = range(SIZE)
L2 = range(SIZE)

A1 = np.arange(SIZE)
A2 = np.arange(SIZE)

start = time.time()

result = [(x,y) for x,y in zip(L1,L2)]

print((time.time()-start)*1000)

start = time.time()

result = A1 + A2

print((time.time()-start)*1000)

#### NUMPY OPERATIONS

In [ ]:
import numpy as np

a = np.array([(1,2,3),(4,5,6)])

print(a.ndim)

print(a.itemsize)

print(a.dtype)

print(a.size)

print(a.shape)

#### NUMPY RESHAPE

In [ ]:
import numpy as np

a = np.array([(1,2,3),(4,5,6)])

print(a)

a = a.reshape(3,2)

print(a)

#### SLICING

In [ ]:
import numpy as np

a = np.array([(1,2,3),(4,5,6),(7,8,9)])

print(a)

print(a[0,1])

print (a[0:,2])

print (a[0:2,2])

#### LINSPACE

In [ ]:
import numpy as np

# 5 values between 1 to 3
a = np.linspace(1,3,5)

print(a)

# 10 values between 1 to 3
a = np.linspace(1,3,10)

print(a)

#### MIX, MAX, SUM

In [ ]:
import numpy as np

a = np.array([1,2,3])

print(a.min())
print(a.max())
print(a.sum())
print(a.mean()) #average

#### AXIS

In [ ]:
import numpy as np

a = np.array([(1,2,3),(4,5,6)])

print(a.sum(axis = 0)) #sum of columns
print(a.sum(axis = 1)) #sum of rows

#### SQUARE ROOT , STANDARD DEVIATION

In [ ]:
import numpy as np

a = np.array([(1,2,3),(4,5,6)])
b = np.array([(1,2,3),(4,5,6)])

# print squareroot
print (np.sqrt(a))

# standard deviation
print (np.std(a))

# math operations
print (a+b)
print (a-b)
print (a*b)
print (a/b)

print( np.vstack((a,b))) #vertical stacking
print( np.hstack((a,b))) #horizontal stacking
# please review more on vstack and hstack

print(a.ravel()) #combine into a single column

#### SINE AND COSINE , MATPLOTLIB

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x = np.arange(0,3*np.pi,0.1)

y = np.sin(x)

plt.plot(x,y)

plt.show()

y = np.tan(x)

plt.plot(x,y)

plt.show()

#### EXPONENTIAL AND LOGARITMIC

In [ ]:
import numpy as np
ar = np.array([1,2,3])


print (np.exp(ar)) #exponential

print (np.log(ar)) #natural log

print (np.log10(ar)) #base 10

#### PANDAS

In [ ]:
# https://stackoverflow.com/questions/47744131/colaboratory-can-i-access-to-my-google-drive-folder-and-file

# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive/')
!ls

In [ ]:
!ls drive/My\ Drive/Data

## PROJECTS

### SIMPLE SCRAPING

In [ ]:
# LINKS
# https://www.geeksforgeeks.org/beautifulsoup-scraping-list-from-html//

!pip install requests
!pip install pandas
!pip install beautifulsoup4

# VERSION 1

# Import Required Modules
from bs4 import BeautifulSoup
import requests

# HTML Code
html_content = """
<ul>
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
"""

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

# Find all li tag
datas = soup.find_all("li")

# Iterate through all li tags
for data in datas:
	# Get text from each tag
	print(data.text)

print(f"Total {len(datas)} li tag found")


# VERSION 2

# Import Required Modules
from bs4 import BeautifulSoup
import pandas as pd
import requests

# HTML Code
html_content = """
<ul>
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
"""

# Parse the html content
soup = BeautifulSoup(html_content)

# Find all li tag
datas = soup.find_all("li")

import pandas as pd
columns=(["Beverage"])
df=pd.DataFrame(data=datas, columns=columns)
df